*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
    background-attachment:📜 ;
}
.menu-bar{
    background: rgb(18,144,221);
    text-align: center;
}
.menu-bar ul{
    display: flex;
    list-style:none;
    color:black;
}
.menu-bar ul li{
    width:130px;
    padding:3px;
    margin:12px;
}
.menu-bar ul li a{
    text-decoration: none;
    color:black;
}
.menu-bar  ul li a:hover{
   color:white;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display:none;
}
.menu-bar ul li:hover .sub-menu-1{
    display:block;
    position:absolute;
    background:rgb(18, 144, 211);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width:150px;
    padding:0px;
    border-bottom:1px dotted#fff ;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:Last-child{
    border-bottom: none;
}
.carousel-inner{
    margin:200px;
    margin-left: 50px;
}
.text{
    position: absolute;
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    font-size: 20px; 
    font-family: sans-serif;
    font-style: oblique;
    color: black;  
}
.footer{
    background-color: rgb(18,144,221);
    color:black;
    text-align:center;
    font-family: sans-serif;
}
.logo img{
    width: 190px;
    height:50px;
    padding:0px;
    margin-top:13px;
    margin-right: 10px;
}

    
